.containerList {
  max-height: 600px;
  overflow-y: scroll;
  padding: 0px 15px;
}

.containerList::-webkit-scrollbar-thumb {
  width: 12px;
  border-radius: 5px;
  background-color: rgb(255, 166, 0);
}

.containerList::-webkit-scrollbar {
  width: 12px;
}
