* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.field {
  position: relative;

  & label {
    position: absolute;
    top: 0px;
    left: 30px;
    padding: 5px;
    font-size: var(--text-lg);
    font-weight: var(--font-medium);
    background-color: var(--color-white);
    color: var(--primary-color);
  }
  & input {
    border: 1px solid var(--color-black);
    border-radius: 4px;
    padding: 15px;
    margin: 15px;

    & ~ label {
      top: 0px;
      background-color: var(--color-white);
      font-size: var(--text-lg);
    }
  }
}

.error {
  color: red;
}
