.body {
  padding: 30px;
  display: grid;
  grid-template-rows: 150px 1fr 70px;
  min-height: 100vh;
  background: var(--color-white);
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 30px;

  & h2 {
    font-size: var(--text-xl);
  }
}

.header {
  align-self: center;
  text-align: center;
  & h1 {
    font-weight: var(--font-bold);
    font-size: var(--text-2xl);
  }
}

.main {
  align-self: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer {
}
